body {
    background-color: #fff3e0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
    width: 350px;
    border: 2px solid #ffcc80;
}

h1 {
    color: #e65100;
    margin-bottom: 5px;
}
p {
            color: #555;
            font-size: 16px;
        }
